* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #081b29;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navigation a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-left: 35px;
    text-decoration: none;
}

.navigation ul li {
    list-style-type: none;
    display: inline-block;
}

.navigation a:hover,
.navigation a.active {
    color: #00abf0;
}

.navigation button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #4285F4;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-color: #081b29;

}